<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{blocks/layout/header :: header}">
<body>
<div th:insert="blocks/layout/header :: header"></div>
<div class="container py-3 d-flex justify-content-center">
    <form class="mb-5 mt-5 w-50" style="margin-bottom: 5rem !important" th:method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" name="title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="body" class="form-label">Body</label>
            <textarea type="text" name="body" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="file" name="image" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary d-flex justify-content-center" style="margin: 0 auto">Submit</button>
    </form>
</div>
<div class="mt-5" th:insert="blocks/layout/footer :: footer"></div>
</body>
</html>