<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<div th:insert="~{blocks/layout/header :: header}">
<body>
<div th:insert="blocks/layout/header :: header"></div>
<div class="container py-3 d-flex justify-content-center">
    <div style="width:50%" class="d-flex align-items-center column-gap-2">
        <img style="max-width: 70%" th:src="'/images/' + ${post.imagePath}">
        <div>
            <h1 style="width: 100%" th:text="${post.title}"></h1>
            <p style="width: 100%" th:text="${post.body}"></p>
        </div>
    </div>
    <div style="width: 50%">
        <form class="mb-5 mt-5 w-50" style="margin-bottom: 5rem !important" th:method="put" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input style="width: 150%" type="text" name="title" class="form-control">
            </div>
            <div class="mb-3">
                <label for="body" class="form-label">Body</label>
                <textarea style="width: 150%" type="text" name="body" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <input style="width: 150%" type="file" name="image" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary d-flex justify-content-center" style="margin: 0 auto">Submit</button>
        </form>
    </div>

</div>
<div th:insert="blocks/layout/footer :: footer"></div>
</body>
</html>