<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{blocks/layout/header :: header}">
    <body>
    <div th:insert="blocks/layout/header :: header"></div>
    <h3 class="d-flex justify-content-center mt-3" th:text="${title}"></h3>
        <div class="container py-3 d-flex justify-content-center">
        <form class="mb-5 mt-5 w-50" style="margin-bottom: 5rem !important" th:method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="oldPassword" class="form-label">Old Password</label>
                <input type="text" name="oldPassword" class="form-control" placeholder="Enter old password">
            </div>
            <div class="mb-3">
                <label for="newPassword" class="form-label">New Password</label>
                <textarea type="text" name="newPassword" class="form-control" placeholder="Enter new password"></textarea>
            </div>
            <div class="mb-3">
                <input name="username" type="text" class="form-control" placeholder="Enter username"/>
            </div>
              <button type="submit" class="btn btn-primary d-flex justify-content-center" style="margin: 0 auto">Submit
            </button>
        </form>
    </div>
    <div class="mt-5" th:insert="blocks/layout/footer :: footer"></div>
</body>
</html>